name: Release Latest

on:
  push:
    branches:
      - "main"

jobs:
  lint-test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-go@v4
        with:
          go-version: "1.22"
          cache: true
      # - run: make lint-install
      # - run: make lint
      - run: make test

  docker:
    runs-on: ubuntu-latest
    needs: lint-test

    steps:
      - uses: actions/checkout@v3
    
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build latest image
        run: docker build --build-arg VERSION=latest -t ${{vars.DOCKER_IMAGE_NAME}}:latest .

      - name: Push latest image
        run: docker push ${{vars.DOCKER_IMAGE_NAME}}:latest

  deploy:
    runs-on: ubuntu-latest
    needs: docker

    steps:
      - name: Trigger Coolify Deploy Dev
        run: |
          curl --location '${{vars.COOLIFY_URL}}/api/v1/deploy?uuid=${{vars.COOLIFY_RESOURCE_ID_DEV}}&force=false' \
          --header 'Authorization: Bearer ${{ secrets.COOLIFY_API_BEARER_TOKEN }}'